@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-surface: 255 255 255;
  --color-text: 15 23 42;
  --color-accent: 13 148 136;
}

html {
  scroll-behavior: smooth;
}

body {
  font-feature-settings: 'ss01', 'cv11';
}
